#imagen{
    display: flex; 
    align-items: center;
}


@media screen and (max-width: 700px){
    #imagen{
        align-items: flex-start;
        /* margin-right: 1px; */
    }
    img{
        width: 40px;
        height: 40px;
    }
}