.short{
    display: none;
}

@media screen and (max-width: 600px){
    .large, .tipo{
        display: none;
    }

    .short{
        display: block;
    }

    #switch{
        display: none;
    }

    #tabla{
        display: block;
    }

    #grafica{
        display: none;
    }

}