label{
    font-size: smaller;
}

#menu{
    display: none;
    font-size: 25px;
}

@media screen and (max-width: 800px){


    #menu{
        display: block;
    }
    #foto{
        display: none;
    }
    
}