<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/dashboard">
                <b>
                    <img src="./assets/images/cvblack.png" alt="homepage" class="dark-logo" style="height: 30px; width: 60px;"/>
                    
                    <img src="./assets/images/cvwhite.png" alt="homepage" class="light-logo" style="height: 30px; width: 60px;" />
                </b>
                
                <span>
                    
                    <img src="./assets/images/appblack.png" alt="homepage" class="dark-logo" style="height: 30px; width: 100px;"/>
                       
                    <img src="./assets/images/appwhite.png" class="light-logo" alt="homepage" style="height: 30px; width: 100px;"/>
                </span> 
            </a>
        </div>
        
        <div class="navbar-collapse">
            
            <ul class="navbar-nav mr-auto" >

                <!-- <li class="nav-item"> 
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" >
                        <i class="ti-menu"></i>
                    </a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" >
                        <i class="ti-menu"></i>
                    </a> 
                </li>
                <li class="nav-item hidden-sm-down"></li> -->
            </ul>
            
            <ul class="navbar-nav my-lg-0">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CV en PDF
                        <i class="fas fa-envelope"></i>
                        <div class="notify"> 
                            <span class="heartbit"></span> 
                            <span class="point"></span> 
                        </div>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right animated fadein" aria-labelledby="2">
                        <ul>
                            <li>
                                <div class="drop-title">Recibe mi CV en PDF</div>
                            </li>
                            <li>
                                <div class="message-center" style="height: fit-content;">
                                    
                                    <form class="col" style="margin-bottom: 15px; margin-top: 15px;">
                                        <div class="form-group">
                                          <label for="inputEmail">Email</label>
                                          <input type="email" class="form-control form-control-sm" id="inputEmail" placeholder="Email" #email>
                                          <small id="emailHelp" class="form-text text-muted" style="font-size: 10px;">Tu email no se guardará en ninguna base de datos ni recibirás spam de ningún tipo.</small>
                                          
                                          <label for="inputName">Nombre completo</label>
                                          <input type="text" class="form-control form-control-sm" id="inputName" placeholder="Nombre completo" #name>
                                        
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="figure img-text">
                                                <input type="checkbox" value="Spanish" id="spa" #spa>
                                                <i class="flag-icon flag-icon-es" style="font-size: 30px;" (click)="marcar(spa.value)"></i>
                                            </label>
    
                                            <label class="figure img-text">
                                                <input type="checkbox" value="English" id="eng" #eng>
                                                <i class="flag-icon flag-icon-us" style="font-size: 30px;" (click)="marcar(eng.value)"></i>
                                            </label>

                                        </div>
                                        
                                        <button class="btn btn-primary" type="button" (click)="onSub(email.value, name.value)">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="obj != null"></span>
                                            Solicitar
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-es"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadein"> 
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-us"></i> 
                            Coming soon

                        </a> 
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="foto" src="{{usuario?.imagen}}" alt="user" class="profile-pic" />
                        <div class="u-img" id="menu"><i class="fas fa-bars" ></i></div>

                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadein">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="{{usuario?.imagen}}" alt="user" ></div>
                                    <div class="u-text">
                                        <h4>{{usuario?.nombre}} {{usuario?.apellidos}}</h4>
                                        <p class="text-muted">{{usuario?.email}}</p>
                                        <a routerLink="/dashboard" class="btn btn-rounded btn-danger btn-sm">Ver perfil</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="experiencias"><i class="fas fa-briefcase"></i> Experiencia Laboral</a></li>
                            <li><a routerLink="estudios"><i class="fas fa-graduation-cap"></i> Estudios</a></li>
                            <li><a routerLink="tecnologias"><i class="fas fa-rocket"></i> Tecnologías</a></li>
                            <li><a routerLink="proyectos"><i class="fas fa-folder-open"></i> Proyectos</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="account-settings"><i class="fas fa-cog"></i> Ajustes</a></li>
                            <!-- <li role="separator" class="divider"></li> -->
                            <!-- <li><a routerLink="/login"><i class="fas fa-power-off"></i> Logout</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
