img{
    height: 35px; 
    width: 35px; 
    border-radius: 20px;

}

#name{
    margin-top: 10px;
    margin-left: 5px;
}

.myRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    min-height: 40px;
}

@media screen and (max-width: 1169px) {
    #name{
        display: none;
    }
    img{
        width: 50px;
        height: 50px;
    }
}