<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="waves-effect waves-dark myRow" routerLink="/dashboard">
                    <img src="{{usuario?.imagen}}"/>
                    <h5 id="name">{{usuario?.nombre}} {{usuario?.apellidos}}</h5>
                </li>
                <li class="user-profile">
                    <ul aria-expanded="false" class="show" *ngFor="let submenu of menuItems">
                        <li><a routerLink="{{submenu.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{submenu.titulo}} </a></li>
                    </ul>
                </li>
               
            </ul>
        </nav>
    </div>
</aside>