<div class="row" >
    <div class="col centrar" *ngFor="let proyecto of proyectos">
        <div class="card" style="width: 18rem; min-height: 25rem;">
            <img class="card-img-top" src="{{proyecto.imagen}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{proyecto.titulo}}</h5>
                <p class="card-text">{{proyecto.descripcion}}</p>
                <button href="{{proyecto.github[0]}}" class="btn btn-outline-dark" *ngIf="proyecto.github[0] != 'Proximamente' else prox">
                    <i class="fab fa-github" style="font-size: 20px;"></i> 
                    Link a GitHub
                </button>

                <ng-template #prox>
                    <button href="{{proyecto.github[0]}}" class="btn btn-outline-dark" disabled>
                        <i class="fab fa-github" style="font-size: 20px;"></i> 
                        {{proyecto.github[0]}}
                    </button>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>